* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
}

header {
    padding: 2.9%;
    font-size: 1.7em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f4dc24;
    gap: 40px;
    color: black;
}

header h1 {
    margin-left: 140px;
}

header img{
    width: 7em;
    height: auto;
}

.line {
    background-color: black;
    height: 0.5em;
}

.sessao1 {
    padding: 7em;
    background-image: url(Imagens/sessao1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sessao1 h2 {
    font-size: 2.5em;
    text-align: center;
    margin-top: -49px;
}

.sessao1 p {
    font-size: 1.5em;
    text-align: justify;
    margin-top: 15px;
    line-height: 40px;
   
    font-weight: 900;
}

.sessao2 {
    padding: 3em;
    background: linear-gradient(180deg, rgba(85, 114, 122, 0.63) 29%, rgba(28, 27, 44, 0.83) 100%), url(Imagens/javascript\ \(código\).jpeg);
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.sessao2 h2 {
    font-size: 2em;
    text-align: center;
}

.sessao2 p {
    font-size: 1.5em;
    text-align: justify;
    margin-top: 15px;
    line-height: 65px;
}

.sessao3 {
    padding: 10%;
    background-image: url(Imagens/Simbolo\ JS.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sessao3 h2 {
    font-size: 2.4em;
    text-align: center;
    margin-top: -35px;
    margin-bottom: 40px;
}

.sessao3 .div-pai {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.div-pai div {
    width: 22rem;
    height: 20rem;
    box-shadow: 1px 2px 20px black;
}

.div-pai div:hover{
    width: 22.1rem;
    height: 21rem;
    box-shadow: 1px 2px 22px gray;
    transition: 0.9s;
}

.div-pai div h3 {
    text-align: center;
    font-size: 1.8em;
}

.linha {
    width: 40%;
    height: 0.1em;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: black;
    margin-top: 30px;
}

.div-pai div p {
    font-size: 1.05em;
    line-height: 22px;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 10px;
}

.div-btn {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.div-btn a button{
    padding: 0.5em;
    width: 17em;
    height: 3em;
    border-radius: 20px;
}

.div-btn a button:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.603);
    color: wheat;
    transition: 0.9s;
}

footer {
    padding: 2.9%;
    font-size: 1.7em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f4dc24;
    gap: 40px;
    color: black;
}
