* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
}

header {
    padding: 2.9%;
    font-size: 1.7em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4dc24;
    gap: 2.5em;
    color: black;
}

header h1 {
    margin-left: 140px;
}

header img {
    width: 7em;
    height: auto;
}

.line {
    background-color: black;
    height: 0.5em;
}

.sessao1 {
    padding: 7em;
    background-image: url(Imagens/sessao1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sessao1 h2 {
    font-size: 2.5em;
    text-align: center;
    margin-top: -49px;
}

.sessao1 p {
    font-size: 1.5em;
    text-align: justify;
    margin-top: 15px;
    line-height: 40px;
    font-weight: 900;
}

.sessao2 {
    padding: 3em;
    background: linear-gradient(180deg, rgba(85, 114, 122, 0.63) 29%, rgba(28, 27, 44, 0.83) 100%), url(Imagens/javascript\ \(código\).jpeg);
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.sessao2 h2 {
    font-size: 2em;
    text-align: center;
}

.sessao2 p {
    font-size: 1.5em;
    text-align: justify;
    margin-top: 15px;
    line-height: 65px;
}

.sessao3 {
    padding: 10%;
    background-image: url(Imagens/Simbolo\ JS.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sessao3 h2 {
    font-size: 2.4em;
    text-align: center;
    margin-top: -35px;
    margin-bottom: 40px;
}

.sessao3 .div-pai {
    display: flex;
    justify-content: space-evenly;
    gap: 2.5em;
}

.div-pai div {
    width: 22rem;
    height: 20rem;
    box-shadow: 1px 2px 20px black;
}

.div-pai div:hover {
    width: 22.1rem;
    height: 21rem;
    box-shadow: 1px 2px 22px gray;
    transition: 0.9s;
}

.div-pai div h3 {
    text-align: center;
    font-size: 1.8em;
}

.linha {
    width: 40%;
    height: 0.1em;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: black;
    margin-top: 30px;
}

.div-pai div p {
    font-size: 1.05em;
    line-height: 22px;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 10px;
}

.div-btn {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.div-btn a button {
    padding: 0.5em;
    width: 17em;
    height: 3em;
    border-radius: 20px;
}

.div-btn a button:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.603);
    color: wheat;
    transition: 0.9s;
}

footer {
    padding: 2.9%;
    font-size: 1.7em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4dc24;
    gap: 2.5em;
    color: black;
}




@media screen and (max-width:480px) {
    header {
        padding: 2%;
        font-size: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f4dc24;
        color: black;
    }


    header h1 {
        margin-left: 25px;
    }

    header img {
        width: 4rem;
        height: auto;
    }

    .line {
        background-color: black;
        height: 0.2rem;
    }

    .sessao1 {
        padding: 8%;
        background-image: url(Imagens/sessao1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .sessao1 h2 {
        font-size: 1.3rem;
        text-align: center;
        margin-top: 10px;
    }

    .sessao1 p {
        font-size: 1rem;
        text-align: justify;
        font-weight: 500;
    }

    .sessao2 {
        padding: 8%;
        background: linear-gradient(180deg, rgba(85, 114, 122, 0.63) 29%, rgba(28, 27, 44, 0.83) 100%), url(Imagens/javascript\ \(código\).jpeg);
        background-position: center;
        background-attachment: fixed;
        color: white;
    }

    .sessao2 h2 {
        font-size: 1.1rem;
        text-align: center;
    }

    .sessao2 p {
        font-size: 0.7rem;
        text-align: justify;
    }

    .sessao3 {
        padding: 8%;
        background-image: url(Imagens/Simbolo\ JS.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .sessao3 h2 {
        font-size: 1rem;
        text-align: center;
        margin-top: 15px;
    }

    .sessao3 .div-pai {
        display: block;
        gap: 10rem;
    }

    .div-pai div {
        width: 20rem;
        height: 8rem;
        box-shadow: 1px 2px 20px black;
        margin-bottom: 20px;
    }

    .div-pai div:hover {
        width: 21rem;
        height: 10rem;
        box-shadow: 1px 2px 22px gray;
        transition: 0.9s;
    }

    .div-pai div h3 {
        text-align: center;
        font-size: 1.2rem;
    }

    .linha {
        width: 50%;
        height: 0.1em;
        margin: 0 auto;
        margin-bottom: 30px;
        background-color: black;
        margin-top: 30px;
    }

    .div-pai div p {
        font-size: 0.5rem;
        font-weight: bold;
    }

    .div-btn {
        display: flex;
        justify-content: center;
    }
    
    .div-btn a button {
        padding: 0.2rem;
        width: 8rem;
        height: 1.3rem;
        border-radius: 20px;
        font-size: 0.6rem;
        color: black;
    }
    
    .div-btn a button:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.603);
        color: wheat;
        transition: 0.9s;
    }
    
    footer {
        padding: 3%;
        font-size: 0.9rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4dc24;
        gap: 1rem;
        color: black;
    }
}

/* 

@media screen and (min-width:481px) {
    header {
        padding: 2%;
        font-size: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f4dc24;
        color: black;
    }


    header h1 {
        font-size: 1.2rem;
        margin-left: 70px;
    }

    header img {
        width: 4rem;
        height: auto;
        margin-right: 30px
    }

    .line {
        background-color: black;
        height: 0.2rem;
    }

    .sessao1 {
        padding: 4%;
        background-image: url(Imagens/sessao1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .sessao1 h2 {
        font-size: 2rem;
        text-align: center;
        margin-top: 15px;
    }

    .sessao1 p {
        font-size: 1.5rem;
        text-align: justify;
        font-weight: 500;
    }

    .sessao2 {
        padding: 9%;
        background: linear-gradient(180deg, rgba(85, 114, 122, 0.63) 29%, rgba(28, 27, 44, 0.83) 100%), url(Imagens/javascript\ \(código\).jpeg);
        background-position: center;
        background-attachment: fixed;
        color: white;
    }

    .sessao2 h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .sessao2 p {
        font-size: 1rem;
        text-align: justify;
    }

    .sessao3 {
        padding: 8%;
        background-image: url(Imagens/Simbolo\ JS.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .sessao3 h2 {
        font-size: 2.3rem;
        text-align: center;
        margin-top: 15px;
    }

    .sessao3 .div-pai {
        display: block;
    }

    .div-pai div {
        width: 24rem;
        height: 19rem;
        box-shadow: 1px 2px 20px black;
        margin-bottom: 20px;
    }

    .div-pai div:hover {
        width: 25rem;
        height: 21rem;
        box-shadow: 1px 2px 22px gray;
        transition: 0.9s;
    }

    .div-pai div h3 {
        text-align: center;
        font-size: 2rem;
    }

    .linha {
        width: 50%;
        height: 0.1em;
        margin: 0 auto;
        margin-bottom: 30px;
        background-color: black;
        margin-top: 30px;
    }

    .div-pai div p {
        font-size: 1.7rem;
        font-weight: 500;
    }

    .div-btn {
        display: flex;
        justify-content: center;
    }
    
    .div-btn a button {
        padding: 0.2rem;
        width: 15rem;
        height: 2rem;
        border-radius: 20px;
        font-size: 1rem;
        color: black;
    }
    
    .div-btn a button:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.603);
        color: wheat;
        transition: 0.9s;
    }
    
    footer {
        padding: 3%;
        font-size: 1.2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4dc24;
        gap: 1.3rem;
        color: black;
    }
}




@media screen and (max-width:767px) {
    header {
        padding: 2%;
        font-size: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f4dc24;
        color: black;
    }


    header h1 {
        font-size: 2rem;
        margin-left: 70px;
    }

    header img {
        width: 10rem;
        height: auto;
        margin-right: 30px
    }

    .line {
        background-color: black;
        height: 0.2rem;
    }

    .sessao1 {
        padding: 4%;
        background-image: url(Imagens/sessao1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .sessao1 h2 {
        font-size: 2rem;
        text-align: center;
        margin-top: 15px;
    }

    .sessao1 p {
        font-size: 1.5rem;
        text-align: justify;
        font-weight: 500;
    }

    .sessao2 {
        padding: 9%;
        background: linear-gradient(180deg, rgba(85, 114, 122, 0.63) 29%, rgba(28, 27, 44, 0.83) 100%), url(Imagens/javascript\ \(código\).jpeg);
        background-position: center;
        background-attachment: fixed;
        color: white;
    }

    .sessao2 h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .sessao2 p {
        font-size: 1rem;
        text-align: justify;
    }

    .sessao3 {
        padding: 8%;
        background-image: url(Imagens/Simbolo\ JS.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .sessao3 h2 {
        font-size: 2.3rem;
        text-align: center;
        margin-top: 15px;
    }

    .sessao3 .div-pai {
        display: block;
    }

    .div-pai div {
        width: 40rem;
        height: 15rem;
        box-shadow: 1px 2px 20px black;
        margin-bottom: 20px;
    }

    .div-pai div:hover {
        width: 42rem;
        height: 17rem;
        box-shadow: 1px 2px 22px gray;
        transition: 0.9s;
    }

    .div-pai div h3 {
        text-align: center;
        font-size: 2rem;
    }

    .linha {
        width: 50%;
        height: 0.1em;
        margin: 0 auto;
        margin-bottom: 30px;
        background-color: black;
        margin-top: 30px;
    }

    .div-pai div p {
        font-size: 1.7rem;
        font-weight: 500;
    }

    .div-btn {
        display: flex;
        justify-content: center;
    }
    
    .div-btn a button {
        padding: 0.2rem;
        width: 15rem;
        height: 2rem;
        border-radius: 20px;
        font-size: 1rem;
        color: black;
    }
    
    .div-btn a button:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.603);
        color: wheat;
        transition: 0.9s;
    }
    
    footer {
        padding: 3%;
        font-size: 1.7rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4dc24;
        gap: 1.3rem;
        color: black;
    }
}


@media screen and (max-width:991px) {
    header {
        padding: 2%;
        font-size: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f4dc24;
        color: black;
    }


    header h1 {
        font-size: 2rem;
        margin-left: 70px;
    }

    header img {
        width: 10rem;
        height: auto;
        margin-right: 30px
    }

    .line {
        background-color: black;
        height: 0.2rem;
    }

    .sessao1 {
        padding: 4%;
        background-image: url(Imagens/sessao1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .sessao1 h2 {
        font-size: 2rem;
        text-align: center;
        margin-top: 15px;
    }

    .sessao1 p {
        font-size: 1.5rem;
        text-align: justify;
        font-weight: 500;
    }

    .sessao2 {
        padding: 9%;
        background: linear-gradient(180deg, rgba(85, 114, 122, 0.63) 29%, rgba(28, 27, 44, 0.83) 100%), url(Imagens/javascript\ \(código\).jpeg);
        background-position: center;
        background-attachment: fixed;
        color: white;
    }

    .sessao2 h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .sessao2 p {
        font-size: 1rem;
        text-align: justify;
    }

    .sessao3 {
        padding: 8%;
        background-image: url(Imagens/Simbolo\ JS.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .sessao3 h2 {
        font-size: 2.3rem;
        text-align: center;
        margin-top: 15px;
    }

    .sessao3 .div-pai {
        display: block;
    }

    .div-pai div {
        width: 55rem;
        height: 15rem;
        box-shadow: 1px 2px 20px black;
        margin-bottom: 20px;
    }

    .div-pai div:hover {
        width: 57rem;
        height: 17rem;
        box-shadow: 1px 2px 22px gray;
        transition: 0.9s;
    }

    .div-pai div h3 {
        text-align: center;
        font-size: 2rem;
    }

    .linha {
        width: 50%;
        height: 0.1em;
        margin: 0 auto;
        margin-bottom: 30px;
        background-color: black;
        margin-top: 30px;
    }

    .div-pai div p {
        font-size: 1.7rem;
        font-weight: 500;
    }

    .div-btn {
        display: flex;
        justify-content: center;
    }
    
    .div-btn a button {
        padding: 0.2rem;
        width: 15rem;
        height: 2rem;
        border-radius: 20px;
        font-size: 1rem;
        color: black;
    }
    
    .div-btn a button:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.603);
        color: wheat;
        transition: 0.9s;
    }
    
    footer {
        padding: 3%;
        font-size: 1.7rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4dc24;
        gap: 1.3rem;
        color: black;
    }
}

/* 
@media screen and (max-width:1366px) {
    header {
        padding: 2%;
        font-size: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f4dc24;
        color: black;
    }


    header h1 {
        font-size: 5rem;
        margin-left: 70px;
    }

    header img {
        width: 15rem;
        height: auto;
        margin-right: 30px
    }

    .line {
        background-color: black;
        height: 0.2rem;
    }

    .sessao1 {
        padding: 12%;
        background-image: url(Imagens/sessao1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .sessao1 h2 {
        font-size: 3rem;
        text-align: center;
        margin-top: -150px;
    }

    .sessao1 p {
        font-size: 2.5rem;
        text-align: justify;
        font-weight: 500;
        margin-top: 20px;
        line-height: 60px;
    }

    .sessao2 {
        padding: 12%;
        background: linear-gradient(180deg, rgba(85, 114, 122, 0.63) 29%, rgba(28, 27, 44, 0.83) 100%), url(Imagens/javascript\ \(código\).jpeg);
        background-position: center;
        background-attachment: fixed;
        color: white;
    }

    .sessao2 h2 {
        font-size: 3rem;
        text-align: center;
    }

    .sessao2 p {
        font-size: 2.5rem;
        text-align: justify;
        margin-top: 60px;
        line-height: 80px;
    }

    .sessao3 {
        padding: 8%;
        background-image: url(Imagens/Simbolo\ JS.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .sessao3 h2 {
        font-size: 3.5rem;
        text-align: center;
        margin-top: 15px;
    }

    .sessao3 .div-pai {
        display: block;
    }

    .div-pai div {
        width: 100rem;
        height: 25rem;
        box-shadow: 1px 2px 20px black;
        margin-bottom: 20px;
    }

    .div-pai div:hover {
        width: 103rem;
        height: 27rem;
        box-shadow: 1px 2px 22px gray;
        transition: 0.9s;
    }

    .div-pai div h3 {
        text-align: center;
        font-size: 3.4rem;
    }

    .linha {
        width: 50%;
        height: 0.1em;
        margin: 0 auto;
        margin-bottom: 30px;
        background-color: black;
        margin-top: 30px;
    }

    .div-pai div p {
        font-size: 3rem;
        font-weight: 500;
        line-height: 70px;
    }

    .div-btn {
        display: flex;
        justify-content: center;
    }
    
    .div-btn a button {
        padding: 0.2rem;
        width: 25rem;
        height: 6rem;
        border-radius: 50px;
        font-size: 2.3rem;
        color: black;
    }
    
    .div-btn a button:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.603);
        color: wheat;
        transition: 0.9s;
    }
    
    footer {
        padding: 5%;
        font-size: 3rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4dc24;
        gap: 1.3rem;
        color: black;
    }
} */
/* 
@media screen and (min-width:1366px) {
    
header {
    padding: 2.9%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4dc24;
    gap: 3.4em;
    color: black;
}

header h1 {
    margin-left: 70px;
    font-size: 3rem;
}

header img {
    width: 13rem;
    height: auto;
}

.line {
    background-color: black;
    height: 0.5em;
}

.sessao1 {
    padding: 7em;
    background-image: url(Imagens/sessao1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sessao1 h2 {
    font-size: 2.5em;
    text-align: center;
    margin-top: -49px;
}

.sessao1 p {
    font-size: 1.5em;
    text-align: justify;
    margin-top: 15px;
    line-height: 40px;
    font-weight: 900;
}

.sessao2 {
    padding: 3em;
    background: linear-gradient(180deg, rgba(85, 114, 122, 0.63) 29%, rgba(28, 27, 44, 0.83) 100%), url(Imagens/javascript\ \(código\).jpeg);
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.sessao2 h2 {
    font-size: 2em;
    text-align: center;
}

.sessao2 p {
    font-size: 1.5em;
    text-align: justify;
    margin-top: 15px;
    line-height: 65px;
}

.sessao3 {
    padding: 10%;
    background-image: url(Imagens/Simbolo\ JS.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sessao3 h2 {
    font-size: 2.4em;
    text-align: center;
    margin-top: -35px;
    margin-bottom: 40px;
}

.sessao3 .div-pai {
    display: flex;
    justify-content: space-evenly;
    gap: 2.5em;
}

.div-pai div {
    width: 22rem;
    height: 20rem;
    box-shadow: 1px 2px 20px black;
}

.div-pai div:hover {
    width: 22.1rem;
    height: 21rem;
    box-shadow: 1px 2px 22px gray;
    transition: 0.9s;
}

.div-pai div h3 {
    text-align: center;
    font-size: 1.8em;
}

.linha {
    width: 40%;
    height: 0.1em;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: black;
    margin-top: 30px;
}

.div-pai div p {
    font-size: 1.05em;
    line-height: 22px;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 10px;
}

.div-btn {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.div-btn a button {
    padding: 0.5em;
    width: 17em;
    height: 3em;
    border-radius: 20px;
}

.div-btn a button:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.603);
    color: wheat;
    transition: 0.9s;
}

footer {
    padding: 2.9%;
    font-size: 1.7em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4dc24;
    gap: 2.5em;
    color: black;
}

} */ 